body{
    background-color: rgb(7, 245, 79), 255, 236);
}

   #titulo {
    color: #0E21A0;
    font-size: 50px;
    text-align: center;
}

   . texto {
    color: #362FD9;
    font-size: 30px;
    text-align: justify;
}