body{
    background-color: #be5fc5;
}

   #titulo {
    color: #3ca00e;
    font-size: 50px;
    text-align: center;
}

   . texto {
    color: #2fd9d1;
    font-size: 30px;
    text-align: justify;
}